#stack-button {
  width: 100px;
}

#viewport{
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 200px;    
}
 
#container {
	margin: auto;
	top: 100px;
    position: relative;
    height: 400px;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(130deg)
}

#container .card {
    position:absolute;
    margin: 1px;
    border: 2px solid black;
    border-radius: 5px;
    width:  100px;
    height: 150px;
    z-index: -1;
    text-align: center;
    font-size:30px;    
}

#container .card > div{
    line-height: 100px;
    border-radius: 8px;
}
#container .card > div span{
    opacity:0.6;
    font-size:14px;
}

#card-box {
  height: 155px;
  width: 100px;
  border: 2px solid black;
  background-color: orange;
    -webkit-transform:rotateX(90deg) translate3d(50px,-100px,22px);
}

.stacked {
    -webkit-transform:rotateX(90deg) translate3d(50px,-100px,22px);
}

.scattered .a {
    -webkit-transform:rotateX(90deg) translate3d(50px,-100px,96px);
}

.scattered .b {
    -webkit-transform:translate3d(55px,54px,152px);
}

.scattered .c {
    -webkit-transform:rotateX(-180deg) translate3d(50px,-250px,150px);
}

.scattered .d {
    -webkit-transform:rotateY(-90deg) translate3d(-100px,50px,0px);
}

.scattered .e {
    -webkit-transform:rotateY(90deg) translate3d(-100px,50px,300px);
}

.scattered .f {
    -webkit-transform:rotateX(90deg) translate3d(-100px,50px,86px);
}

.scattered .g {
    -webkit-transform:rotateY(90deg) translate3d(-124px,131px,168px);
}

.scattered .h {
    -webkit-transform:rotateX(-90deg) translate3d(-100px,50px,170px);
}

.scattered .i {
    -webkit-transform:rotateY(-90deg) translate3d(-100px,307px,82px);
}

.scattered .j {
    -webkit-transform:rotateY(-90deg) translate3d(120px,268px,66px);
}

.scattered .k {
    -webkit-transform:rotateX(-90deg) translate3d(145px,269px,211px);
}

.scattered .l {
    -webkit-transform:rotateX(-90deg) translate3d(300px,-200px,244px);
}

.scattered .m {
  -webkit-transform:rotateY(-90deg) translate3d(250px,-14px,-32px);
}

.scattered .n {
  -webkit-transform:rotateY(-90deg) translate3d(268px,200px,-200px);
}

.scattered .o {
  -webkit-transform:rotateY(-90deg) translate3d(-29px,309px,-50px);
}

.scattered .p {
  -webkit-transform:rotateX(90deg) translate3d(179px,122px,-18px);
}

.scattered .q {
  -webkit-transform:rotateX(90deg) translate3d(77px,-200px,37px);
}

.scattered .r {
  -webkit-transform:translate3d(55px,115px,333px);
}

.scattered .s {
  -webkit-transform:rotateX(-180deg) translate3d(145px,-83px,232px);
}

.scattered .t {
  -webkit-transform:rotateY(90deg) translate3d(-45px,250px,326px);
}

.scattered .u {
  -webkit-transform:rotateX(-90deg) translate3d(189px,99px,260px);
}

.scattered .v {
  -webkit-transform:rotateX(-90deg) translate3d(189px,-172px,292px);
}

.scattered .w {
  -webkit-transform:rotateY(90deg) translate3d(130px,50px,299px);
}

.scattered .x {
  -webkit-transform:rotateX(90deg) translate3d(189px,8px,-49px);
}

.scattered .y {
  -webkit-transform:rotateY(90deg) translate3d(-15px,48px,87px);
}

.scattered .z {
  -webkit-transform:rotateX(90deg) translate3d(179px,210px,39px);
}

.scattered .a2 {
  -webkit-transform:rotateY(90deg) translate3d(130px,50px,85px);
}

.scattered .b2 {
  -webkit-transform:rotateY(90deg) translate3d(133px,149px,259px);
}

.scattered .c2 {
  -webkit-transform:rotateX(90deg) translate3d(-50px,233px,71px);
}

.scattered .d2 {
  -webkit-transform:rotateY(90deg) translate3d(137px,304px,321px);
}

.scattered .e2 {
  -webkit-transform:rotateX(90deg) translate3d(215px,-20px,39px);
}

.scattered .f2 {
  -webkit-transform:rotateX(90deg) translate3d(244px,136px,88px);
}

.scattered .g2 {
  -webkit-transform:rotateY(90deg) translate3d(133px,155px,400px);
}

.scattered .h2 {
    -webkit-transform:rotateX(-90deg) translate3d(425px,-25px,100px);
}

.scattered .i2 {
  -webkit-transform:rotateY(90deg) translate3d(-263px,50px,85px);
}

.scattered .j2 {
  -webkit-transform:rotateY(90deg) translate3d(251px,-18px,8px);
}

.scattered .k2 {
  -webkit-transform:rotateY(90deg) translate3d(251px,-63px,216px);
}

.scattered .l2 {
  -webkit-transform:rotateY(90deg) translate3d(-100px,-15px,325px);
}

.scattered .m2 {
    -webkit-transform:rotateX(-90deg) translate3d(430px,-150px,133px);
}

.scattered .n2 {
    -webkit-transform:rotateX(-90deg) translate3d(430px,-124px,-100px);
}

.scattered .o2 {
  -webkit-transform:rotateY(90deg) translate3d(150px,310px,264px);
}

.scattered .p2 {
    -webkit-transform:rotateX(-90deg) translate3d(-74px,-193px,177px);
}

.scattered .q2 {
  -webkit-transform:rotateY(90deg) translate3d(-100px,366px,100px);
}

.scattered .r2 {
    -webkit-transform:rotateX(-90deg) translate3d(90px,-153px,204px);
}

.scattered .s2 {
  -webkit-transform:rotateY(90deg) translate3d(-200px,366px,350px);
}

.scattered .t2 {
  -webkit-transform:rotateY(90deg) translate3d(-196px,50px,260px);
}

.scattered .u2 {
    -webkit-transform:rotateX(-90deg) translate3d(98px,108px,147px);
}

.scattered .v2 {
  -webkit-transform:rotateY(90deg) translate3d(263px,377px,200px);
}

.scattered .w2 {
    -webkit-transform:rotateX(-90deg) translate3d(327px,56px,-100px);
}

.scattered .x2 {
  -webkit-transform:rotateY(90deg) translate3d(200px,-77px,-81px);
}

.scattered .y2 {
  -webkit-transform:rotateY(90deg) translate3d(-89px,8px,400px);
}

.scattered .z2 {
  -webkit-transform:rotateY(90deg) translate3d(-42px,115px,5px);
}

/* stacked */

.stacked .card {
	-webkit-transform: rotateX(90deg);
}

.stacked .a {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .b {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .c {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .d {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .e {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .f {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .g {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .h {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .i {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .j {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .k {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .l {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .m {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .n {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .o {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .p {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .q {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .r {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .s {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .t {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .u {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .v {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .w {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .x {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .y {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .z {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .a2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .b2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .c2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .d2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .e2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .f2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .g2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .h2 {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .i2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .j2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .k2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .l2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .m2 {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .n2 {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .o2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .p2 {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .q2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .r2 {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .s2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .t2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .u2 {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .v2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .w2 {
    -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .x2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .y2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}

.stacked .z2 {
  -webkit-transform:translate3d(0px, 0px, 0px);
}
